* {
	box-sizing: border-box;
}

* {
	margin: 0;
	padding: 0;
}

html, body {
	height: 100%;
}

body {
	padding: 0;
	margin: 0;
	background: #f5f5f5;
	padding-top: 6rem;
}

@each $dir in right, left {
	.float-#{$dir} {
		float: $dir;
		border: 2px solid #ff00cc;
	}
}

.hidden {
	display: none;
}

.main {
	@include breakpoint(medium) {
		@include outer-container(80%);
		// @include outer-container(65%);
	}
	background: $color;
	padding: $base-spacing;
}

.page {
	&__header {
		font-size: 1.7em;
		text-align: center;
	}
}

.field {
	margin-bottom: 1rem;
}


.clear {
	@include clearfix;
}

.auth-form {
	@include clearfix;

	&__forgot {
		font-weight: normal;
		text-align: right;
		float: right;
		font-size: 0.9em;
		color: #888;
	}

	&__button {
		float: right;
	}
}

.isHosted {
	label {
		display: inline;
	}

	input {
		display: none;
	}
}

.label-help {
	font-weight: normal;
	display: block;
	font-size: 0.8em;
	color: #666;
	padding-left: $base-spacing;
}
.submission-form {
	.progress-bar {
		margin-bottom: $base-spacing;
	}
}

.form {
	&__section {
		@include fill-parent;
		@include clearfix;
		// display: none;
		// opacity: 0.4;
		// border: 1px solid red;

		margin-bottom: 2rem;
		&--active {
			opacity: 1;
			display: block;
		}
	}

	&__pos {
		&--prev {

		}
	}

	&__pos--next,
	&__section {
		// float: right;
	}
}

.button--subtle {
	background: #ccc!important;
}

.env--dev .form__section {
	// display: block;
}

.label-help2 {
	display: block;
	font-weight: normal;
	font-size: 0.9em;
}

.release-content {
	padding: 1rem 4rem;
}

.release {
	&__title {
		font-size: 1.5em;
		margin-bottom: 0.2em;
	}
}

$status-green: darken(#dff0d8, 15%);
$status-amber: darken(#fcf8e3, 15%);
$status-red: darken(#b94a48, 15%);
$status-blank: #ccc;

.status {
	margin-bottom: .5rem;
	&:before {
		content: 'i';
		display: block;
		float: left;
		height: 1.3rem;
		width: 1.3rem;
		margin: .2rem .3rem 0 0;
		border-radius: 100%;
		background: $status-blank;
		color: rgba(0,0,0,0);
	}

	&--green {
		&:before {
			background: $status-green;
		}
	}

	&--amber {
		&:before {
			background: $status-amber;
		}
	}

	&--red {
		&:before {
			background: $status-red;
		}
	}
}

.map,
.reports {
	@include med-span(6);
}

.report {
	&__list {
		&__item {
			padding: .5rem 1rem;
			// drop-shadow: 0 1px #e7e7e7;
			box-shadow: 1px 1px 0px 0px rgba(0,0,0,0.05);
			background: rgba(0,0,0,0.01);
			margin-bottom: 1rem;
			border-left: .3rem solid $status-blank;
			&--green {
				border-color: $status-green;
			}

			&--amber {
				border-color: $status-amber;
			}

			&--red {
				border-color: $status-red;
			}
		}

	}
}



.correspondent {
	&__photo {
		display: block;
		margin: 0 auto;
		border-radius: 100%;

		border: .2rem solid $status-red;
		width: 70%;
	}
}
.correspondents {
	&__list {
		@include row;
		&__item {
			@include med-span(3);
			@include omega(4n);
			box-shadow: 1px 1px 0px 0px rgba(0,0,0,0.05);
			background: rgba(0,0,0,0.01);
			margin-bottom: 1rem;
			border-bottom: .4rem solid $status-blank;
			text-align: center;

			&--green {
				border-color: $status-green;
			}

			&--amber {
				border-color: $status-amber;
			}

			&--red {
				border-color: $status-red;
			}

			a {
				display: block;
				padding: 1.5rem 1rem;
			}
			.correspondent__photo {
				margin-bottom: 1rem;
			}
		}

	}
}
